<footer class="bg-gray-100 text-center lg:text-left">
  <div class="container p-6">
    <div class="grid lg:grid-cols-4 md:grid-cols-2">
      <div class="mb-6">
        <h5 class="uppercase mb-2.5 text-gray-800">Resources</h5>

        <ul class="list-none mb-0">
          <li>
            <a href="/screenshots" class="text-gray-800">Screenshots</a>
          </li>
 
          <li>
            <a href="/docs" class="text-gray-800">Getting started</a>
          </li>
        </ul>
      </div>

      <div class="mb-6">
        <h5 class="uppercase  mb-2.5 text-gray-800">Demos</h5>

        <ul class="list-none mb-0">
	 <li>
            <a href="/progress-up-html5" class="text-gray-800">HTML5
native</a>
          </li>

          <li>
            <a href="/demo/html5-demo" class="text-gray-800">Stackblitz HTML5</a>
          </li>
          <li>
            <a href="/demo/vue-demo" class="text-gray-800">Stackblitz Vue</a>
          </li>
          <li>
            <a href="/demo/angular-demo"
class="text-gray-800">Stackblitz Angular</a>
          </li>
          <li>
            <a href="/demo/react-demo" class="text-gray-800">Stackblitz React</a>
          </li>
          <li>
            <a href="/demo/svelte-demo" class="text-gray-800">Stackblitz Svelte</a>
          </li>
        </ul>
        </ul>
      </div>

      <div class="mb-6">
        <h5 class="uppercase  mb-2.5 text-gray-800">Support</h5>

        <ul class="list-none mb-0">
          <li>
            <a target="_blank" href="https://github.com/girish1729/progress-up/issues"
class="text-gray-800">Issues? File a bug</a>
          </li>

          <li>
            <a href="mailto:girish@spamcheetah.com"
class="text-gray-800">Contact support</a>
          </li>

          <li>
            <a href="/blog" class="text-gray-800">Blog</a>
          </li>
        </ul>
      </div>

      <div class="mb-6">
        <h5 class="uppercase mb-2.5 text-gray-800">Packages</h5>

        <ul class="list-none mb-0">
          <li>
            <a target="_blank" href="https://github.com/girish1729/progress-up" class="text-gray-800">Github</a>
          </li>

          <li>
            <a target="_blank" href="https://www.npmjs.com/progress-up-react"
class="text-gray-800">React Npm package page</a>
          </li>
          <li>
            <a  target="_blank" href="https://www.npmjs.com/progress-up-angular"
class="text-gray-800">Angular Npm package page</a>
          </li>

          <li>
            <a  target="_blank" href="https://www.npmjs.com/progress-up-vue"
class="text-gray-800">Vue Npm package page</a>
          </li>

          <li>
            <a  target="_blank" href="https://www.npmjs.com/progress-up-svelte"
class="text-gray-800">Svelte Npm package page</a>
          </li>

        </ul>
      </div>
    </div>
  </div>

  <div class="text-gray-700 text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">

  <div class="items-center flex justify-center flex-row">
<a class="twitter-share-button mr-10" href="https://twitter.com/intent/tweet?text=Tweet+this+to+your+followers&url=https%3A%2F%2Fgithub.com%2Fgirish1729%2Fprogress.up&hashtags=github&original_referer=http%3A%2F%2Fgithub.com%2F&tw_p=tweetbutton" target="_blank" data-size="large">
       <img src="images/tweet.png" alt="Tweet this" />
</a>

<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="girish1729" data-color="#f3ecec" data-emoji="" data-font="Poppins" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#FFDD00" ></script>
</div>

<br/>
<br/>

   &#169; 2023 Copyright Progress-up
    <a href="/privacy-policy">Privacy policy</a>
    <a target="_blank" href="https://opensource.org/licenses/MIT">MIT license</a>
  </div>
</footer>
