
<link rel="stylesheet"  href="/css/normalize.min.css">
<style>
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
</style>

<section>
    <div id="{{ .Title }}" class="w-full flex flex-col md:flex-row justify-center items-center">
        <div class="self-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px:0 pt-16">

{{ with site.GetPage "/home" }}
                {{ .Content }}
{{ end }}

<script type="text/javascript" src="https://testimonial.to/js/iframeResizer.min.js"></script>
<iframe id="testimonialto-embed-text--O2-19bRtbLKO3a5uxmX" src="https://embed-v2.testimonial.to/t/-O2-19bRtbLKO3a5uxmX?design=left-aligned&fontFamily=Inter&fontColor=000000&bgColor=ffffff&borderColor=ABB8C3&starColor=FDCC0D&shadowSize=shadow-none&showBorder=no&showPadding=yes&borderRadius=rounded-lg&borderWidth=border" frameborder="0" scrolling="no" width="100%"></iframe>
<script type="text/javascript">iFrameResize({log: false, checkOrigin: false}, "#testimonialto-embed-text--O2-19bRtbLKO3a5uxmX");</script>


        </div>
    </div>

</section>

