
<section>
<div class="container m-auto w-2/3 h-82 text-7xl p-2 text-black mt-20 rounded">
  <div class="items-center mb-4">
	<h1 class="flex justify-center text-5xl leading-tight mb-4 pb-4">
	HTML5 multiple file uploader with progress display
	</h1>
        <h3 class="flex justify-center text-3xl ">
	Progress-up fetches files from local disk, shows previews and 
	uploads in parallel. Has size and MIME filters.
	  </h3>
  </div>

  <div class="items-center flex justify-center flex-row">
<a target="_blank" href='https://github.com/girish1729/progress-up'
class="text-lg
  shadow-md text-black no-underline bg-blue-400
hover:bg-blue-500 text-black hover:text-white py-2 px-4 border
border-blue-500 hover:border-transparent rounded mr-4"
>Download</a>

   <a target="_blank" href="/progress-up-html5" class="text-lg
  shadow-md text-black no-underline bg-transparent
hover:bg-blue-500 text-blue-700 hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
Live demo</a>
   </div>
</div>
</section>

<section >
  <h2 class="text-3xl mt-12 mb-4 pb-4 text-center">Works with</h2>

   <div class="items-center flex justify-center flex-row">
     <a href="/docs/html5-docs" title="Vanilla Javascript">
            <h5 class="font-bold text-lg mb-3">Vanilla Js</h5>
	<img width="70" src="/logos/javascript-logo.svg" alt="Javascript" />
      </a>
     <a href="/docs/angular-docs" title="Angular" >
            <h5 class="font-bold text-lg mb-3">Angular</h5>
	<img width="70" src="/logos/angular-logo.svg" alt="Angular" />
     </a>
     <a href="/docs/vue-docs" title="Vue.js">
            <h5 class="font-bold text-lg mb-3">Vue.js</h5>
		<img width="70" src="/logos/vue-logo.svg" alt="Vue" />
      </a>
     <a href="/docs/react-docs" title="React.js">
            <h5 class="font-bold text-lg mb-3">React </h5>
		<img width="70" src="/logos/react-logo.svg" alt="React" />
     </a>
     <a href="/docs/svelte-docs" title="Svelte">
            <h5 class="font-bold text-lg mb-3">Svelte </h5>
		<img width="70" src="/logos/svelte-logo.svg" alt="Svelte" />
     </a>
    </div>

</section>

