<div class="container mt-32">
  <!-- Section: Design Block -->
  <section class="mb-32">
 
<h2 class="text-5xl">
	Coolest HTTP file uploader with progress display
</h2>

<!--
<div style="position: relative; padding-bottom: 52.1875%; height:
0;"><iframe
src="https://www.loom.com/embed/452cbfb14c8944abaacc3bbe438a36ab?sid=4852cff9-9e56-4d09-82bb-8d0196fc6b7d"
frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
style="position: absolute; top: 0; left: 0; width: 100%; height:
100%;"></iframe></div>
-->

  </section>
</div>
