{{ define "main" }}
    <link rel="stylesheet"  href="/css/normalize.min.css">
    {{ partial "navbar.html" . }}


<!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
  <!-- Section: Design Block -->
  <section class="mb-32">
    <h2 class="mb-16 text-center text-3xl font-bold">
      Frequently asked questions
    </h2>

    <div class="grid gap-6 lg:grid-cols-3">
      <div class="mb-6 md:mb-8 lg:mb-12">
        <p class="mb-4 font-bold">What is Progress-up?</p>
        <p class="text-neutral-500 dark:text-neutral-300">
Progress-up is a simple file uploader easy to setup. It fetches files
from local disk, and uploads them to the final destination.

It’s very simple to integrate with your existing application and lets
you think about more important problems than building a file uploader.

Progress-up has various plugins for web development frameworks for easy
integration and quick setup.


        </p>
      </div>

      <div class="mb-6 md:mb-8 lg:mb-12">
        <p class="mb-4 font-bold">Is it free?</p>
        <p class="text-neutral-500 dark:text-neutral-300">
	It is free and open source. License is MIT, so you can use it
for commercial applications free of charge.

        </p>
        <p class="text-neutral-500 dark:text-neutral-300">
	Paid plans are <a href="/pricing.html">here</a>
        </p>
      </div>

      <div class="mb-6 md:mb-8 lg:mb-12">
        <p class="mb-4 font-bold"> Does it work in browser?
        </p>
        <p class="text-neutral-500 dark:text-neutral-300">
	Yes it works on all browsers.
        </p>
      </div>

      <div class="mb-6 md:mb-8 lg:mb-12">
        <p class="mb-4 font-bold">
         What is its speciality?
        </p>
        <p class="text-neutral-500 dark:text-neutral-300">
	It supports 10 types of progress displays.
        </p>

    </div>

      <div class="mb-6 md:mb-8 lg:mb-12">
        <p class="mb-4 font-bold">Can I pay for it?</p>
        <p class="text-neutral-500 dark:text-neutral-300">
		Yes. In case this project is helping you in some way you
may consider sponsoring this project on GitHub.
        </p>
      </div>

      <div class="mb-6 md:mb-8 lg:mb-12">
        <p class="mb-4 font-bold">
          Will it work on the phone?
        </p>
        <p class="text-neutral-500 dark:text-neutral-300">
		Unlikely.
        </p>
      </div>

      <div class="mb-6 md:mb-8 lg:mb-12">
        <p class="mb-4 font-bold">
          Can I have a feature list?
        </p>
        <p class="text-neutral-500 dark:text-neutral-300">
        </p>

	<ul>
<li>Lightweight and modular<\li>

<li>
Plugin-based architecture
</li>
<li>
No dependencies
</li>
<li>

Track uploads with progress indicator
</li>
<li>

Drag and drop support
</li>
<li>

Files are previewed before upload
</li>
<li>

Open source with rich documentation
</li>
<li>

No frills sleek user interface
</li>
<li>

Dark mode support
</li>
<li>

Free to the world forever
</li>
<li>

Available for all popular web frameworks(svelte, Angular, Vue, React)
</li>
      </div>


    </div>
  </section>
  <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->

{{ end }}
