{{ define "main" }}
  <link rel="stylesheet"  href="/css/normalize.min.css">
   {{ partial "navbar.html" . }}

   <h2 class="font-bold uppercase tracking-widest text-gray-800 text-2xl mb-4">{{ .Title }}</h2>


<blockquote>
Progress-up is a gratis, free and source is fully open; however, if you are using
the library for commercial use a license might make sense.
</blockquote>

<section>
 <div class="container m-auto">        
   <div class="flex flex-wrap items-center justify-center w-full text-center">            
	<div class="w-full md:w-1/2 lg:w-1/3 p-4">
	  <div class="flex flex-col rounded border-2 border-blue-700 bg-blue-700">
	    <div class="py-5 bg-white">
	      <h3>Personal</h3>
	      <p class="text-5xl font-bold">
	        <span class="text-3xl"> $29.99 </span>
	      </p>
	      <p class="text-md uppercase">One time</p>
		<h4> Single User License</h4>
	    </div>           

	    <div class="py-5 bg-blue-700 text-white rounded-b">
	
	<p>Support</p>
	<p>Unlimited features</p>
	<p>Lifetime warranty</p>
	<p>Single user</p>
	 <a target="_blank"
	href="https://girish1729.gumroad.com/l/progressup-personal-license-key"
class="text-lg bg-white rounded shadow-md text-black px-4 py-3 no-underline">Buy</a>
	 
	    </div>            
	  </div>
	</div>

	<div class="w-full md:w-1/2 lg:w-1/3 p-4">
	  <div class="flex flex-col rounded border-2 border-blue-700 bg-red-700">
	   <div class="py-5  bg-white">
	      <h3>Team</h3>
	      <p class="text-5xl font-bold">
	        <span class="text-3xl"> $99.99 </span>
	      </p>
	      <p class="text-md uppercase">One time</p>
	 <h4>Team license</h4>
	    </div>          

	    <div class="py-5 bg-red-700 text-white rounded-b">
	
	<p>Support</p>
	
	<p>Unlimited features</p>
	<p>Lifetime warranty</p>
	<p>Any # of team members</p>
	          <a target="_blank"
	href="https://girish1729.gumroad.com/l/progressup-html5-uploader-team-license"
	class="text-lg bg-white rounded shadow-md text-black px-4 py-3 no-underline">Buy</a>
	 
	   </div>            
	 </div>
	</div>

	<div class="w-full md:w-1/2 lg:w-1/3 p-4">
	  <div class="flex flex-col rounded border-2 border-blue-700 bg-yellow-700">
	   <div class="py-5 bg-white">
	      <h3>Business</h3>
	      <p class="text-5xl font-bold">
	        <span class="text-3xl"> $299.99 </span>
	      </p>
	      <p class="text-md uppercase">One time</p>

	   <h4>Business license</h4>
	    </div>          
	    <div class="py-5 bg-yellow-700 text-white rounded-b">
	
	
	<p>Support</p>
	<p>Unlimited features</p>
	<p>Lifetime warranty</p>
	<p>Any # of team members</p>
	
	  <a target="_blank" href="https://girish1729.gumroad.com/l/progressup-html5-uploader-business-license" class="text-lg bg-white rounded shadow-md text-black px-4 py-3 no-underline">Buy</a>
	 
	   </div>            
	 </div>
	</div>

  </div>    
 </div>
</section>


<section>
 <div class="container m-auto">        
<h3 class="text-5xl" > Open source license</h3>

<p>
It is MIT licensed. Which means you are free to do anything you want
with it.
</p>

<h3 class="text-5xl"> Key Points</h3>

<p>
Please find the key points of the commercial license below. If you have
any questions, please <a mailto:girish@spamcheetah.com>contact
us</a>.
</p>

<h3 class="text-5xl">Team member</h3>

<p>
Commercial licenses are priced per team member. A team member is defined
as anyone permitted to make modifications to your applications
that uses progress-up, whether such person is your employee or a consultant or contractor providing services to you.
</p>

<h3 class="text-5xl">Free updates</h3>

<p>
You are entitled to receive all updates up to the major version of
progress-up as well as later versions if we authorize. But, if you have
a v1 license, that is valid for v2 as well. Just to serve as an example.
</p>

<h3 class="text-5xl">Usage in saleable products</h3>

<p>
You need a team or organization license to use progress-up in a product which end users can be charged for.
</p>

<h3 class="text-5xl">Number of products</h3>

<p>With the developer license, progress-up can be used as part of a
single product. With the team license, progress-up can be used as part
of up to 500 products and with the organization license, progress-up can be used as part of an unlimited number of products.
</p>

<p>
Note: This use is limited within the same company.
</p>

<h3 class="text-5xl">Reselling</h3>

<p>
progress-up cannot be used in a product offered for sale or for free,
where progress-up contributes to the core value of the product being
sold. If you like to build something based on progress-up such as a pro
WordPress plugin for progress-up, please get in touch.
</p>

<p>
progress-up may not be used for re-selling, sub-licensing, or sharing purposes, and cannot otherwise be redistributed on its own (even for free).
</p>

<h3 class="text-5xl">Unlimited time</h3>
<p>
The commercial License is not limited in time. Once you purchase a license, you can use if for lifetime under the terms of the particular license.
</p>

<h3 class="text-5xl">No exclusivity</h3>

<p>
The commercial License is not exclusive and other buyers may purchase
progress-up.
</p>

<h3 class="text-5xl">Support</h3>

<p>
Organization and team license holders will get faster response and priority for reported issues and questions
</p>

<h3 class="text-5xl">Student discount</h3>

<p>
If you are a student currently enrolled in a College or University,
contact me on Twitter to get a free license.
</p>
</section>


{{ end }}
